<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WhiteRabbit:HostName" value="localhost"/>
    <add key="WhiteRabbit:VirtualHost" value="/"/>
    <add key="WhiteRabbit:Port" value="5672"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>